body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

textarea{
  background: transparent;
  border-top: solid;
  border-bottom: none;
  border-right: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  width: auto;
  border-top: 1px solid white;
  display: flex;
  flex-wrap: wrap;}
  
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  font-size: 1rem;;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961af;
  color: white;
}

.future {
  background-color: #77dd77a2;
  color: white;
  
}

.btn {
  margin-left:auto ;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}